.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    animation: reveal 2s linear forwards;
}
.box h5{
    margin: 0;
    padding: 0;
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);;
    text-transform: uppercase;
}

@keyframes reveal{
    0% {
        width: 0px;
        height: 0px;
    }
    30% {
        width: 600px;
        height: 150px;
    }
    60% {
        width: 600px;
        height: 250px;
    }
    80% {
        width: 600px;
        height: 300px;
    }
    100% {
        width: 600px;
        height: 350px;
    }

}

/* About Section  */
/* .about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    background-size: cover;
    background-position: center;
} */
.about-img img{
    /* height: auto; */
    width: 100%;
    border-radius: 5px;
}
.about-text h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.7;
    margin: 15px 0 30px;
    color:blue;
}
.about-text p{
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom:4rem;
}
.btn{
    background-color: #333; 
    padding: 15px;
    margin-left: 35%;
    border: none;
    border-radius: 30px;
    /* margin-top: 10px; */
}
.btn a{
    color: white;
}
.btn:hover{
    background-color: green;
    a{
        color: black;
    }
}
/* Services Section  */
.heading2{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 45%;
    color: green;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card:hover{
    background-color: green;
    color:white;
    .icons {background-image: linear-gradient(to bottom,orange,white);}
}
.icons{
    background-image: linear-gradient(to bottom,green,orange);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.btn1{
    cursor: pointer;
    background-color: #333;
    width: 8%;
    margin-left: 45%;
    border: none;
    padding: 15px;
    margin-top: 20px;
    border-radius:30px;
}
.btn1 a{
    color: white;
}
.btn1:hover{
    background-color: green;
    a{
        color: black;
    }
}